################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetGrate.Nugets.SqlClient/bin/Debug
/DotNetGrate.Nugets.SqlClient/obj
